* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.loginformdiv{
    width: 30%;
    height: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 2px 2px #796f6f;
    background-color:rgba(252, 238, 238, 0.507);

}

input[type=text],
input[type=password] {
    width: 200px;
    height: 25px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
}

.reegiterationform {
    background-color:rgba(252, 238, 238, 0.507);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 2px 2px #796f6f;

}

i {
    margin-left: -30px;
    cursor: pointer;
}

.inputflex{
    display: flex;
    justify-content:space-around;
}
.inputname{
    margin-left: 60px;
    display: flex;
    gap: 4.7rem;
}
.inpuf{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4px;
}
.buttondiv{
    display: flex;
    justify-content: space-around;
    
}