* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.loginformdiv{
    padding: 10px;
    width: 30%;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color:rgba(252, 238, 238, 0.507);
    box-shadow: 2px 2px 8px 2px #796f6f;
    border-radius: 20px;

}

input[type=text],
input[type=password] {
    width: 200px;
    height: 25px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
}

.reegiterationform {
    padding: 10px;
    background-color:rgba(252, 238, 238, 0.507);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: 2px solid black; */
    box-shadow: 2px 2px 8px 2px #796f6f;
    border-radius: 20px;

}

i {
    margin-left: -30px;
    cursor: pointer;
}

.inputflex{
    display: flex;
    justify-content:space-around;
    padding: 10px 4px;
}
.inputname{
    margin-left: 60px;
    display: flex;
    gap: 4.7rem;
    padding: 10px 0px;
}
.inpuf{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4px;
}
.buttondiv{
    display: flex;
    justify-content: space-around;
    
}
.passdiv{
    display: flex;
    gap: 7rem;
    margin-top: 15px;
}
.pindiv{
    display: flex;
    gap: 11.7rem;
    margin-top: 15px;
}